 <div class="col-md-3">
     <section class="user_info">
         <h1>
            <!--<%=gravatar_for @user %>-->
            <%=@user.name %>
		<%=link_to "departments",depts%>
		<%=link_to "store data",stores%>
         </h1>
       </section>
   </div>
